@import '../../global/variables.scss';

.Board {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  background-color: darken($colorBlack, 10%);
  border-radius: 0.2rem;
  box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.2);
  padding: 1rem;

  .Contents {
    overflow: auto;

    $margin: 0.4rem;
    $radius: 0.1rem;
    .BoardRow {
      display: flex;
      margin-bottom: $margin;
      &:last-child {
        margin-bottom: 0;
      }

      .RowTag {
        // flex: 1;
        width: 6.5rem;
        padding: 0.5rem;
        text-align: left;
        font-weight: 700;
        color: #fff;
        border-radius: $radius;
        margin-right: $margin;
        cursor: pointer;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .Columns {
        flex: 1;
        min-width: 8rem;
        display: flex;
        // overflow: auto;

        .ColTag {
          flex: 1;
          min-width: 1rem;
          border-radius: $radius;
          // width: 3rem;
          // height: 100%;
          // margin: 0 0.2rem;
          margin-right: $margin;
          &:last-child {
            margin-right: 0;
          }
          cursor: pointer;
          position: relative;

          .TagGlow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            filter: blur(80%);
          }
        }
      }
    }
  }

  .Playback {
    padding: 0 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Btn {
      border: none;
      outline: none;
      background: none;
      color: $colorWhite;
      font-size: 1.2rem;
      text-transform: uppercase;
      opacity: 0.8;
      cursor: pointer;
      transition: color 0.4s ease;

      -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

      &:hover, &.Active {
        color: $color2;
      }
    }
  }
}
