
$colorWhite: #F6F5F5;
$colorBlack: #393b44;

$color1: #8D91C7;
$color2: #EE6F57;
$color3: #9CDE9F;
$color4: #D183C9;
$color5: #145374;
$color6: #9EB25D;
$color7: #90FCF9;
$color8: #392F5A;
$color9: #00334E;
